body {
    background-color: #f3f7fa;
}

/* Heading */
.heading 
{
    width: 100%;
    height: 4rem;
    background-color:#1DAAA1;
}

/* dashboard */
.dashboard
{
    margin-top:10%;
}

.dashboard img
{
    padding: 1rem;
}